<div class="nav-bar">
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/canvas']">Canvas</a>
  <a *ngIf="!user" (click)="handleClickLogin()">Login</a>
  <a *ngIf="user" (click)="handleClickLogout()">Logout</a>
</div>
<ng-container *ngIf="user">
  <button (click)="handleNewButtonClick()">New sht</button>
</ng-container>
<br>
<br>
<div class="auth-form" *ngIf="showAuthForm">
  <form>
    <h3> Login or Signup </h3>

    <input type="text" [(ngModel)]="formInfo.username" name="username" placeholder="Username"/>
    <br>

    <input type="password" [(ngModel)]="formInfo.password" name="password" placeholder="Password"/>

    <button (click)="handleClickForLogin()"> login </button>
    <button (click)="handleClickForSignup()"> signup </button>
  </form>
  <p class="error"> {{ error }} </p>
</div>

<router-outlet></router-outlet>

<div class="nav-bar footer">
  <p>Made it with &hearts; ByronBP</p>
  <a [routerLink]="['/playground']">Playground</a>
</div>
